[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git

[submodule "vendor/fkubis"]
        path = vendor/fkubis/teamspeak-php-framework
        url = https://github.com/fkubis/teamspeak-php-framework.git