[submodule "vendor/zendframework"]
	path = vendor/zendframework
	url = https://github.com/zendframework/zf2.git

[submodule "vendor/fkubis"]
        path = vendor/fkubis/teamspeak-php-framework
        url = https://github.com/fkubis/teamspeak-php-framework.git

[submodule "vendor/satooshi"]
        path = vendor/satooshi/php-coveralls
        url = https://github.com/satooshi/php-coveralls.git

[submodule "hounddog/doctrine-data-fixture-module"]
        path = vendor/hounddog/doctrine-data-fixture-module 
        url = https://github.com/Hounddog/DoctrineDataFixtureModule.git