<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="ts3ui">
            <directory suffix=".php">../module/Server/tests/ServerTests</directory>
            <directory suffix=".php">../module/User/tests/UserTests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
         <log type="coverage-clover" target="./clover.xml"/>
         <log type="coverage-php" target="coverage.cov"/>
         <log type="coverage-html" target="report" lowUpperBound="60" highLowerBound="80"/>
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">../public</directory>
            <directory suffix=".php">../vendor</directory>
        </blacklist>
    </filter>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
</phpunit>